node_modules/
sepa-converter/node_modules/
sepa-converter/0.1/
sepa-converter/0.8/
sepa-converter/fehler/
sepa-converter/bericht.html
sepa-converter/dokumentation.html
sepa-converter/dashboard.html
sepa-converter/userguide.html
sepa-converter/dist/Bankconvertierer-linux
sepa-converter/dist/Bankconvertierer.exe
sepa-converter/dist/part*
